<html>

<head>
    <style>
        body {
            width: 90%;
            margin: 0 auto;
        }
    </style>

</head>
</html>

<body>
    <h1>
        Introduction
    </h1>
    <hr />
    <p>
        This is an extension of the IEX Trading application. As a group we thought the current IEX Trading was limited in some form of functionalities. Our Main goal is to provide a comprehensive platfrom through which users are able to compare different stocks.
        The generated platform allow them to choose the stocks and compare them either through daily or annual equities or by the mean of financial attributes of the stocks or real time quotes. In addition to that,
        Our enhancement lets the user know if the stock market is opened or closed and a timer on each of the page. Throughout the application, we have enhanced all of the existing Models and Views 
        to provide a uniform user experience for visitor.
        We are adding five more API end points to pull stock data including the below:
        <ul>
            <li>
                /largest-trades: This gives us the largest trade
            </li>
            <li>
                /dividends/5y: Pulls Dividend data for the past 5y.
            </li>
            <li>
                /stock/aapl/chart/1y: Historically adjusted market-wide data
            </li>
            <li>
                /stock/aapl/chart/1d: Performed a batch request for two symbols
            </li>
            <li>
                /stock/aapl/company:  Through this api end point we pull the information about companies incuding their symbols, name, industry, etc.
            </li>

        </ul>

        Our application focused mostly on the Stock data that IEXTrading is proving through their end point.
        Among the five, all of them had lots of fields avaialable to choose from, but for simplicity we only pulled the fields that we needed for enhancing the application.

        We created five database tables to hold these data their tables definitions can be seen in the Model classes where we provided data dictionary for all the tables and feilds.
        The new classes added are:
        <ul>
            <li>
                Equities: We extended the existing table by adding additional fields that we used in our application
            </li>
            <li>
                Companies: We extended the existing table by adding additional fields that we used in our application
            </li>
            <li>
                EF_Model
                <ul>
                    <li>
                        DailyEquity
                    </li>
                    <li>
                        Largest Trade
                    </li>
                    <li>
                        Dividends
                    </li>

                </ul>
            </li>
        </ul>
        <br />
        All the data model class and database definitions are in the class models. The application is designed in the way that , it will automatically create the database objects, including the
        actual database used which is IEXTrading_API. It will then create all the tables and assign them the appropriate keys and constraints defined in each class.
        We designed the database classes in a third normal form to ensure that there are no transitive data in any of the tables. This way, we are able to provide
        a well defined and redundancy-free database architecture.
        <h4>Core Technologies</h4>
        <hr />
        <p>The Core technologies used in this application are as follows:</p>
        <ul>
            <li>
                CSS
            </li>
            <li>
                Javascripts
            </li>
            <li>
                MVC
            </li>
            <li>
                SQL Server
            </li>
            <li>
                Azure
            </li>
            <li>
                HTML
            </li>
        </ul>

    <h2>Involved Team Members</h2>
    <hr />
    <p> This section provides breif information about the team members involved in enhancing this application</p>
    <ul>
        <img src="https://scontent.ftpa1-2.fna.fbcdn.net/v/t1.0-9/31466665_2199102153638729_6829480522497414032_n.jpg?_nc_cat=104&amp;_nc_ht=scontent.ftpa1-2.fna&amp;oh=e2f993041ff14d19794b67d9130e265c&amp;oe=5D4F2984" style="width:100px;height:100px;" />
        <li>

            Richmond Mensah: Richmond is a first year graduate student studing Business Analytics and information systems. He is interested in Business Intelligence and currently works as
            a Business Analyst. His true passion after gradaution is to have a job in BI area where he can use his skills to enhance the business functions of an organization in terms of
            the organization's reporting needs, database and software aquisitions, etc. Richmond plans to gradaute in May 2020.
        </li>
        <br />
        <img src="https://scontent.ftpa1-2.fna.fbcdn.net/v/t1.0-9/31317673_171844863639951_8899862064894312448_n.jpg?_nc_cat=103&_nc_ht=scontent.ftpa1-2.fna&oh=93a3585337b269fa45d0b8cf97e8dc0b&oe=5D357A3F" style="width:100px;height:100px;" />
        <li>
            Moez: I am a Second year PhD student at Information Systems and Decision Sciences at Muma College of Business. My research area is network science and I am also working on Optimization in data driven researches. I am aiming for an Academic job in my domain after I graduated.
        </li>
        <br />

        <img src="https://media.licdn.com/dms/image/C5603AQGeveMv4SfFlw/profile-displayphoto-shrink_200_200/0?e=1560384000&v=beta&t=Vk6vVci43eiu3CD_NS5HGT35iJn3NdsQZepQSUfzrWY" style="width:100px;height:100px;" />
        <li>
            Gleb: Gleb is currently doing his PhD in Information Systems and Decisions Science at University of South Florida. He holds Master degree in Applied Mathematics and Physics
            form Moscow Institute of Physics and Technology, the leading Russian Research University. In addition, he graduated from University of South Florida with MBA degree in 2016.
            His specialization is machine learning and data analytics.
        </li>
    </ul>
    <br />
    <p>Thanks for visiting our site.</p>
    <p>The current date is @DateTime.Now.ToShortDateString()</p>
</body>