


<html>

<head>


</head>
</html>

<body>
    <h1>
        Introduction
    </h1>
    <hr />
    <p>
        This is an extension of the IEX Trading application. As a group we thought the current IEX Trading was limited in some form of functionalities. In addition to that,
        we are adding five more API end points to pull stock data including the below:
        <ul>
            <li>
                /stock/aapl/quote: This gives us the quota data
            </li>
            <li>
                /stock/aapl/financials: Pulls income statement, balance sheet, and cash flow data from the four most recent reported quarters.
            </li>
            <li>
                /stock/aapl/chart/1y: Historically adjusted market-wide data
            </li>
            <li>
                /stock/aapl/chart/1d: Performed a batch request for two symbols
            </li>
            <li>
                /stock/aapl/chart: IEX-only data by minute
            </li>

        </ul>

        Our application focused mostly on the Stock data that IEXTrading is proving through their end point.
        Among the five, all of them had lots of fields avaialable to choose from, but for simplicity we only pulled the fields that we needed for enhancing the application.

        We created five database tables to hold these data These table definitions can be seen in the Model classes where we provided data dictionary for all the tables and feilds.
        The new classes added are:
        <ul>
            <li>
                AllEquities
            </li>
            <li>
                EQComparison
            </li>
            <li>
                EF_Model
                <ul>
                    <li>
                        DailyEquity
                    </li>
                    <li>
                        Financial
                    </li>
                    <li>
                        Quota

                    </li>

                </ul>
            <li>
                Companies: We extended the existing table by adding additional fields that we used in our application
            </li>
            <li>
                Equities: We extended the existing table by adding additional fields that we used in our application
            </li>
            </li>
        </ul>
    </p>
    <h2>Involved Team Members</h2>
    <p> This section provides breif information about the team memebers involved in enhancing this application</p>
    <ul>
        <img src="https://scontent.ftpa1-2.fna.fbcdn.net/v/t1.0-9/31466665_2199102153638729_6829480522497414032_n.jpg?_nc_cat=104&amp;_nc_ht=scontent.ftpa1-2.fna&amp;oh=e2f993041ff14d19794b67d9130e265c&amp;oe=5D4F2984" style="width:100px;height:100px;" />
        <li>

            Richmond Mensah: Richmond is a first year graduate student studing Business Analytics and information systems. He is interested in Business Intelligence and currently works as
            a Business Analyst. His true passion after gradaution is to have a job in BI area where he can use his skills to enhance the business functions of an organization in terms of
            the organization's reporting needs, database and software aquisitions, etc. Richmond plans to gradaute in May 2020.'
        </li>
        <br />
        <img src="http://www.texasforthem.org/wp-content/uploads/2016/03/Feral-Cat-1.jpg" style="width:100px;height:100px;" />
        <li>
            Moez: Write something about yourself
        </li>
        <br />
        <img src="http://www.texasforthem.org/wp-content/uploads/2016/03/Feral-Cat-1.jpg" style="width:100px;height:100px;" />
        <li>
            Gleb: Gleb is currently doing his PhD in Information Systems and Decisions Science at University of South Florida. He holds Master degree in Applied Mathematics and Physics
            form Moscow Institute of Physics and Technology, the leading Russian Research University. In addition, he graduated from University of South Florida with MBA degree in 2016.
            His specialization is machine learning and data analytics.
        </li>
    </ul>
</body>